body{
background-image: linear-gradient(rgba(0, 128, 0, 0.753), rgb(0, 162, 255));

}
h1{
    color:rgb(16, 71, 16);
    font-size: 50px;
}
p{
    color: black;
    text-align: center;
    font-size: 18px;
}
h2{
    color: blue;
    font-size: 27px;
}
h3{
    color: blue;
    font-size: 27px;
}
p2{
    color: rgb(0, 0, 0);
}
p3{
    color: black;
}